<h1>Id：<%= @user.id %>さんのUser情報</h1>
<h3>ユーザ情報</h3>
<div>Email address：<%= @user.email %></div>
<table>
    <tbody>
        <tr>
            <h3>記事一覧</h3>
            <% @user.articles.each do |article| %>
                <% if current_user.id == article.user.id %>
                    <div>タイトル：<%= article.title %></div>
                    <div>内容：<%= article.body %></div>
                    <div>著者：<%= article.author %></div>
                <% end %>
            <% end %>
        </tr>
    </tbody>
</table>
<%= link_to "ユーザ一覧ページへ戻る", users_path%>